*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    min-height: 900px;
    background-image: url(../img/dan-otis-OYFHT4X5isg-unsplash_1.webp);
   background-size: cover;
   color: white;
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:30px ;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur (10px);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius:20px ;

}
.LogoCont{
    margin-right: auto;
}
.content{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;

}
.LogoCont img{
    width: 40px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.btn{
   display: block;
    border: none;
    font-size: 16px;
    background-color: rgb(73, 153, 73);
    color: white;
    padding: 8px 14px;
    border-radius: 15px;
}
h1{
    margin-top: 200px;
    font-size: 60px;

}
.content>p{
    max-width: 550px;
margin-block: 20px;
line-height: 1.5;
}
.content>form{
    background-color: white;
    display: flex;
    gap: 20px;
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
}
.content input{
    border: none;
    padding: 8;
}
.content>h2{
    text-align: center;
    margin: 100px 0;
}
.info{
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.445);
    border-radius: 20px;
    padding: 20px;    flex-wrap: wrap;
}
.infoo-text{
    max-width: 600px;
}
.info img{
    max-width: 600px;
    border-radius: 15px;
}
.info p{
    margin: 15px 0;
    line-height: 1.5;
}
.cards{
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
}
.card>img{
    width: 100%;
}
.card{
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.445);
}
.wrapper>img{
    width: 100%;
    border-radius: 20px;
}
.card-text{
    padding: 10px;
}
.cards>h2{
    width: 100%;
}
h2{
    text-align: center;
    margin-bottom: 50px;
}
address{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.wrapper{

}
address>a{
    text-decoration: none;
    color: black;
}
@media(max-width:1329px){
    .wrapper>img{
        order: -1;
        max-width: 100%;
    }
    .infoo-text{
        max-width: 100%;
    }
}
@media(max-width:560px){
    .cards{
        max-width: 100%;
        justify-content: center;
    }
    address{
        flex-direction: column;
        align-items: center;
    }
}